/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.content__default a
  text-decoration underline

.sidebar-link:hover
  background-color rgba(40, 45, 50, 0.05)
  transition .1s ease

.sidebar-sub-headers
  padding-left 2rem !important
  .sidebar-link
    padding-left 1rem !important
    border-radius 3px 0 0 3px